# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ERP IntelliJ
erp/gui/.idea/
erp/gui/.gradle/
erp/gui/out/
erp/gui/build/
erp/gui/*.iml

#ERP UDP Receiver GUI
erp/UDP_Receiver/.idea/
erp/UDP_Receiver/.gradle/
erp/UDP_Receiver/out/
erp/UDP_Receiver/build/
erp/UDP_Receiver/*.iml

#MES IntelliJ
mes/.idea/
mes/.gradle/
mes/out/
mes/build/
mes/*.iml

#DBs IntelliJ
db/testMariaDB/.idea/
db/testMariaDB/.gradle/
db/testMariaDB/out/
db/testMariaDB/build/
db/testMariaDB/*.iml
db/testPostgreSQL/.idea/
db/testPostgreSQL/.gradle/
db/testPostgreSQL/out/
db/testPostgreSQL/build/
db/testPostgreSQL/*.iml
plc/*.opt
plc/*.bootinfo
plc/*.bootinfo_guids
plc/*.compileinfo
erp/UDP_Receiver/gradle/wrapper/gradle-wrapper.jar
